---
layout: default
title: Projects
---

<ul class="projects">

  {% for project in site.projects %}
  <li>
    <h3><a href="{{ project.url }}">{{ project.name }}</a></h3>
    <div class="project-content" style="flex-direction: {{project.flexDir}}">
      <p>
        {% for tag in project.tags %}
          <i class="fa fa-tags" aria-hidden="true"></i>
          <span class="tags"><em>{{ tag }}</em></span>
        {% endfor %} </br>
        {{ project.description }}
      </p>
      <img src="{{ project.imgSrc }}" alt="project">
    </div>
  </li>
  {% endfor %}

</ul>
