/* poole.css */

/* post title in post list*/
h1.post-title a {
  color: #303030!important;
}
h1.post-title a:hover {
  color: #bf4d28!important;
  text-decoration: none;
}

.post {
  border-bottom: solid 1px #ddd;
}

.content a {
  color: #bf4d28!important;
}


/* hyde.css */

/* Sidebar links */
.sidebar a {
  color: #655643;
}

.sidebar p {
  color: #655643;
  font-size: 1rem;
}

/* About section */
.sidebar-about h1 {
  font-size: 2.8rem;
}

.sidebar-about a:hover{
  text-decoration: none;
}

/* Sidebar nav */
.sidebar-nav-item {
  font-weight: bold;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  color: #bf4d28;
}

span.sidebar-nav-item .list-inline {
    margin-top: 1em;
    padding-left: 0;
    list-style-type: none;
}
span.sidebar-nav-item .list-inline li {
    display: inline-block;
}
span.sidebar-nav-item .list-inline .fa-circle {
    color: rgba(255, 255, 255, 0.5);
}
span.sidebar-nav-item .list-inline a:hover .fa-circle {
    color: #655643;
}
span.sidebar-nav-item .list-inline .fa-stack-1x {
    color: #655643;
}
span.sidebar-nav-item .list-inline a:hover .fa-stack-1x {
    color: #edc951;
}
