---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date tags">
    {{ page.date | date_to_string }}
    <i class="fa fa-tags" aria-hidden="true"></i>
    {% for tag in page.tags %}
      <a class="tag-wrapper"
        href="{{ site.baseurl }}/tags/{{ tag }}" rel="tooltip"
        title="View posts tagged with &quot;{{ tag }}&quot;">
        <span class="tags">{{ tag }}</span></a>&nbsp;
    {% endfor %}
  </span>
  {{ content }}
</div>

<!-- TODO let it float -->
<nav class="col-xs-3 bs-docs-sidebar">
  <!-- TODO fix toc.js to dynamically generate toc -->
  <ul id="sidebar" class="nav nav-stacked">
    <li>
      <a href="#contents">Contents</a>
      <ul class="nav nav-stacked">
        <li><a href="#abstract">Abstract</a></li>
        <li><a href="#starting-as-an-user">Starting as an User</a></li>
      </ul>
    </li>
    <li>
      <a href="#play-around-with-api">Play around with API</a>
      <ul class="nav nav-stacked">
        <li><a href="#discovering-issues">Discovering Issues</a></li>
      </ul>
    </li>
  </ul>
</nav>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
